@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: lightgray;
  height: 100vh;
}

.searchField{
  border-bottom: 1px solid lightgray;
  padding: 5px;
  background-color: gray;
}

.weatherDisplay{
  background-color: lightgray;
  padding-bottom: 15px;
}

.notActiveSub{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}








